<div class="col-xs-12" style="text-align:center">
    <h1>Sign Up Form</h1>
</div>
<form [formGroup]="testForm" (ngSubmit)="submitujFormu()">
    <div class="form-row" *ngFor="let field of formConfig" [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
                <div class="form-group col-xs-12">
                        <label>{{field.label}}</label>
                        <input type="text" [ngClass]="{'is-invalid':testForm.controls[field.key].invalid && submitTried}" class="form-control" [name]="field.key"
                            [placeholder]="field.label" [formControlName]="field.key">
                        <div *ngIf="testForm.controls[field.key].invalid && submitTried" class="invalid-feedback">sdgasdg</div>
                    </div>
        </div>
        <div *ngSwitchCase="'select'">
            <div class="form-group col-xs-12">
                    <label>{{field.label}}</label>
                    <select [ngClass]="{'is-invalid':testForm.controls[field.key].invalid && submitTried}" class="form-control" [formControlName]="field.key">
                        <option disabled value="">{{field.selectPlaceholder}}</option>
                        <option *ngFor="let option of field.options" [value]="option.code">{{option.name}}</option>
                    </select>
                   <div *ngIf="testForm.controls[field.key].invalid && submitTried" class="invalid-feedback">sdgasdg</div>
                </div>
        </div>
        <div *ngSwitchCase="'subgroup'" [formGroupName]="field.name">
                <div class="form-group col-xs-12"  *ngFor="let subfield of field.childControls">
                        <label>{{subfield.label}}</label>
                        <input type="text" [ngClass]="{'is-invalid':testForm.controls[field.name].controls[subfield.key].invalid && submitTried}" class="form-control" name="ime"
                            [placeholder]="subfield.label" [formControlName]="subfield.key">
                        <div *ngIf="testForm.controls[field.name].controls[subfield.key].invalid && submitTried" class="invalid-feedback">sdgasdg</div>
                    </div>
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Registruj</button>
</form>