<div class="col-xs-12" style="text-align:center">
    <h1>Sign Up Form</h1>
</div>
<form [formGroup]="signUpForm" (ngSubmit)="submitujFormu()">
    <div class="form-row">
        <div class="form-group col-xs-5">
            <label>Ime</label>
            <input type="text" [ngClass]="{'is-invalid':signUpForm.controls.ime.invalid && submitTried}" class="form-control" name="ime"
                placeholder="Petar" formControlName="ime">
            <div *ngIf="signUpForm.controls.ime.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Prezime</label>
            <input type="text" class="form-control" name="prezime" placeholder="Petrović" formControlName="prezime">
            <div *ngIf="signUpForm.controls.prezime.invalid && submitTried" class="invalid-feedback">Prezime nije uneto!</div>
        </div>
        <div class="form-group col-xs-3">
            <div class="col-xs-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="pol" name="pol" value="muski" checked>
                    <label class="form-check-label">
                        Muški
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="pol" name="pol" value="zenski">
                    <label class="form-check-label">
                        Ženski
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="pol" name="pol" value="ostalo">
                    <label class="form-check-label">
                        Ostalo
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row" formGroupName="adresa">
        <div class="form-group col-xs-4">
            <label>Država</label>
            <select formControlName="drzava" class="form-control">
                <option value="">Choose...</option>
                <option [value]="drzava.code" *ngFor="let drzava of countries">{{drzava.name}}</option>
            </select>
            <div *ngIf="signUpForm.controls.adresa.controls.drzava.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Grad</label>
            <input formControlName="grad" type="text" class="form-control" name="grad" placeholder="Novi Sad">
            <div *ngIf="signUpForm.controls.adresa.controls.grad.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Ulica</label>
            <input formControlName="ulica" type="text" class="form-control" name="ulica" placeholder="Bl. Oslobodenja">
            <div *ngIf="signUpForm.controls.adresa.controls.ulica.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Broj</label>
            <input formControlName="broj" type="text" class="form-control" ime="broj" placeholder="92/b">
            <div *ngIf="signUpForm.controls.adresa.controls.broj.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-8">
            <label>Poštanski broj</label>
            <input formControlName="postanskiBroj" type="number" name="postanskiBroj" class="form-control">
            <div *ngIf="signUpForm.controls.adresa.controls.postanskiBroj.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <label>E-mail</label>
            <input formControlName="email" type="email" class="form-control" name="email" placeholder="example@email.com">
        </div>
        <div class="form-group col-xs-6">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="razumem">
            <label class="form-check-label">
                Razumeo sam
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Registruj</button>
</form>