<form [formGroup]="testForm">
    <input name="ime" placeholder="Ime" formControlName="ime"/>
    <input name="prezime" placeholder="prezime" formControlName="prezime"/>
    <div formGroupName="adresa">   
            <input name="ulica" placeholder="Ulica" formControlName="ulica"/>
    </div>
</form>

{{testForm.status | json}}

{{testForm.value | json}}

