.form-control.is-valid{
    border-color:green;
}

.form-control.is-invalid{
    border-color: red;
}

.valid-feedback{
    color:green;
}

.invalid-feedback{
    color:red;
}

.form-check {
    border-color: red;
    border: 1px solid red;
    overflow: hidden;
    display: inline-block;
    color: red;
    background-color: pink;
    padding: 8px;
}